/java praktikum/prak11/JavaApplication19/nbproject/private/
/java praktikum/prak11/JavaApplication19/build/
/java praktikum/prak12/nbproject/private/
/java praktikum/prak12/build/
/java praktikum/Prak13/nbproject/private/
/java praktikum/Prak13/build/
/java praktikum/Tantangan/nbproject/private/
/java praktikum/Tantanganv2/nbproject/private/
/java praktikum/Tantanganv2/build/
